.friendslist {
  border: 1px solid yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.friend {
  border: 1px solid red;
  width: 25%;
  margin: .5rem;
  padding: .5rem;
}

.details {
  margin: 0;
}

.navbar {
  border: 1px solid orange;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-right: auto;
  margin-left: auto;

}

.nav-button {
  margin: .5rem;
  text-decoration: none;
}